In [19]:
import pandas as pd
import datetime as dt

In [4]:
df = pd.read_csv('grades.csv')
df.head()

                                          submission        submit_time
0  https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...  01/03/17-20:28:52
1  https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...  01/03/17-20:18:21
2  https://ckd.upgrad.com/UpGrad/a353d129-c100-43...  01/03/17-22:37:08
3  https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...  01/02/17-21:43:19
4  https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...  01/03/17-15:27:49

In [18]:
df['Timestamp'] = pd.to_datetime(df['submit_time'])
df.head()

,submission,submit_time,Timestamp
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,01/03/17-20:28:52,2017-01-03 20:28:52
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,01/03/17-20:18:21,2017-01-03 20:18:21
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,01/03/17-22:37:08,2017-01-03 22:37:08
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,01/02/17-21:43:19,2017-01-02 21:43:19
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,01/03/17-15:27:49,2017-01-03 15:27:49

In [9]:
df.shape

(198, 3)

In [27]:
df['justDate'] = df['Timestamp'].dt.date
df.head()
df.shape

(198, 4)

In [14]:
164/198

0.8282828282828283

In [31]:
df.loc[df['justDate'] != '2017-01-03']
# df['justDate'] = '2017-01-03'

Empty DataFrame
Columns: [submission, submit_time, Timestamp, justDate]
Index: []

In [39]:
df['Hour'] = df['Timestamp'].dt.hour
df.to_csv('findHour.csv')

In [37]:
len(df.loc[df['Hour'] != 23])

132