## Assignment GDP Analysis
<i><b> Author:</b> <u>Anish Mahapatra</u></i>

<i><b>Email-id:</b> anishmahapatra01@gmail.com </i>

##### Module 09 - Assignment: GDP Analysis

The purpose of this the overall GDP Analysis is to help identify areas to focus on that will foster economic development for the respective states. This will be done by analyzing the GDP.

<b>GDP:</b> Monetary value of final goods and services produced by a country/state in a given period of time. It mostly consists of the following three sectors:
- Primary sector (agriculture)
- Secondary sector (industry)
- Tertiary sector (services)

In the <b>first part</b> of the analysis, the following steps will be taken care of:
- the GSDP of Indian States - both total and per capita will be analyzed
- The States will be divided into 4 cases on the basis of GSDP analysis
- Post categorizaion, analysis will be done to identify the sectors that contribute the most to GDP

In the <b>second part</b> of the analysis, we shall analyze whether GDP per capita is related to dropout rates in schools and colleges.

In [33]:
#Importing the required modules and packages

import pandas as pd
pd.set_option('display.max_columns', 500)

In [34]:
# Making sure all of the files are present in the ./Data/ folder
import glob
path = './Data/*.csv'
glob.glob(path)

for fname in glob.glob(path):
    print(fname)

./Data\Data1-GSDPdata.csv
./Data\Data2.csv
./Data\NAD-Andhra_Pradesh-GSVA_cur_2016-17.csv
./Data\NAD-Arunachal_Pradesh-GSVA_cur_2015-16.csv
./Data\NAD-Assam-GSVA_cur_2015-16.csv
./Data\NAD-Bihar-GSVA_cur_2015-16.csv
./Data\NAD-Chhattisgarh-GSVA_cur_2016-17.csv
./Data\NAD-Goa-GSVA_cur_2015-16.csv
./Data\NAD-Gujarat-GSVA_cur_2015-16.csv
./Data\NAD-Haryana-GSVA_cur_2016-17.csv
./Data\NAD-Himachal_Pradesh-GSVA_cur_2014-15.csv
./Data\NAD-Jharkhand-GSVA_cur_2015-16.csv
./Data\NAD-Karnataka-GSVA_cur_2015-16.csv
./Data\NAD-Kerala-GSVA_cur_2015-16.csv
./Data\NAD-Madhya_Pradesh-GSVA_cur_2016-17.csv
./Data\NAD-Maharashtra-GSVA_cur_2014-15.csv
./Data\NAD-Manipur-GSVA_cur_2014-15.csv
./Data\NAD-Meghalaya-GSVA_cur_2016-17.csv
./Data\NAD-Mizoram-GSVA_cur_2014-15.csv
./Data\NAD-Nagaland-GSVA_cur_2014-15.csv
./Data\NAD-Odisha-GSVA_cur_2016-17.csv
./Data\NAD-Punjab-GSVA_cur_2014-15.csv
./Data\NAD-Rajasthan-GSVA_cur_2014-15.csv
./Data\NAD-Sikkim-GSVA_cur_2015-16.csv
./Data\NAD-Tamil_Nadu-GSVA_cur_2016-17.csv
./Data\NAD-Telangana-GSVA_cur_2016-17.csv
./Data\NAD-Tripura-GSVA_cur_2014-15.csv
./Data\NAD-Uttarakhand-GSVA_cur_2015-16.csv
./Data\NAD-Uttar_Pradesh-GSVA_cur_2015-16.csv

In [35]:
# Importing the files via loadCSV() user-defined function. The files is loaded from the "Data" folder present.

def loadCSV(csvName):
    nameOfVariable = pd.read_csv("./Data/" + csvName, encoding = 'unicode_escape')
    return nameOfVariable

csvName = "Data1-GSDPdata.csv"
dfGSDP = loadCSV(csvName)

csvName = "Data2.csv"
data2 = loadCSV(csvName)

csvName = "NAD-Andhra_Pradesh-GSVA_cur_2016-17.csv"
andhraPradesh = loadCSV(csvName)

csvName = "NAD-Arunachal_Pradesh-GSVA_cur_2015-16.csv"
arunachalPradesh = loadCSV(csvName)

csvName = "NAD-Assam-GSVA_cur_2015-16.csv"
assam = loadCSV(csvName)

csvName = "NAD-Bihar-GSVA_cur_2015-16.csv"
bihar = loadCSV(csvName)

csvName = "NAD-Chhattisgarh-GSVA_cur_2016-17.csv"
chattisgarh = loadCSV(csvName)

csvName = "NAD-Goa-GSVA_cur_2015-16.csv"
goa = loadCSV(csvName)

csvName = "NAD-Gujarat-GSVA_cur_2015-16.csv"
gujrat = loadCSV(csvName)

csvName = "NAD-Haryana-GSVA_cur_2016-17.csv"
harayana = loadCSV(csvName)

csvName = "NAD-Himachal_Pradesh-GSVA_cur_2014-15.csv"
himachalPradesh = loadCSV(csvName)

csvName = "NAD-Jharkhand-GSVA_cur_2015-16.csv"
jharkand = loadCSV(csvName)

csvName = "NAD-Karnataka-GSVA_cur_2015-16.csv"
karnataka = loadCSV(csvName)

csvName = "NAD-Kerala-GSVA_cur_2015-16.csv"
kerela = loadCSV(csvName)

csvName = "NAD-Madhya_Pradesh-GSVA_cur_2016-17.csv"
madhyaPradesh = loadCSV(csvName)

csvName = "NAD-Maharashtra-GSVA_cur_2014-15.csv"
maharashtra = loadCSV(csvName)

csvName = "NAD-Manipur-GSVA_cur_2014-15.csv"
manipur = loadCSV(csvName)

csvName = "NAD-Meghalaya-GSVA_cur_2016-17.csv"
meghalaya = loadCSV(csvName)

csvName = "NAD-Mizoram-GSVA_cur_2014-15.csv"
mizoram = loadCSV(csvName)

csvName = "NAD-Nagaland-GSVA_cur_2014-15.csv"
nagaland = loadCSV(csvName)

csvName = "NAD-Odisha-GSVA_cur_2016-17.csv"
odisha = loadCSV(csvName)

csvName = "NAD-Punjab-GSVA_cur_2014-15.csv"
punjab = loadCSV(csvName)

csvName = "NAD-Rajasthan-GSVA_cur_2014-15.csv"
rajasthan = loadCSV(csvName)

csvName = "NAD-Sikkim-GSVA_cur_2015-16.csv"
sikkim = loadCSV(csvName)

csvName = "NAD-Tamil_Nadu-GSVA_cur_2016-17.csv"
tamilNadu = loadCSV(csvName)

csvName = "NAD-Telangana-GSVA_cur_2016-17.csv"
telangana = loadCSV(csvName)

csvName = "NAD-Tripura-GSVA_cur_2014-15.csv"
tripura = loadCSV(csvName)

csvName = "NAD-Uttarakhand-GSVA_cur_2015-16.csv"
uttarakhand = loadCSV(csvName)

csvName = "NAD-Uttar_Pradesh-GSVA_cur_2015-16.csv"
uttarPradesh = loadCSV(csvName)

## Grosss State Domestic Product - Part I

In [36]:
# Making a temp variable for this snippet of code to analyze GSDP
df = dfGSDP
df.head()

,Items Description,Duration,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chhattisgarh,Goa,Gujarat,Haryana,Himachal Pradesh,Jammu & Kashmir,Jharkhand,Karnataka,Kerala,Madhya Pradesh,Maharashtra,Manipur,Meghalaya,Mizoram,Nagaland,Odisha,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal1,Andaman & Nicobar Islands,Chandigarh,Delhi,Puducherry,All_India GDP
0,GSDP - CURRENT PRICES (` in Crore),2011-12,379402.0,11063.0,143175.0,247144.0,158074.0,42367.0,615606.0,297539.0,72720.0,78254.0,150918.0,603778.0,364048.0,315561.0,1272967.0,12915.0,19918.0,7259.0,11839.0,227872.0,266628.0,436465.0,11165.0,751485.0,359433.0,19208.0,724049.0,115523.0,NaN,3979.0,18768.0,343767.0,16818.0,8736039.0
1,GSDP - CURRENT PRICES (` in Crore),2012-13,411404.0,12547.0,156864.0,282368.0,177511.0,38120.0,724495.0,347032.0,82820.0,87105.0,174724.0,691700.0,412313.0,380924.0,1448466.0,13748.0,21872.0,8362.0,13619.0,258275.0,297734.0,494004.0,12338.0,855481.0,401493.0,21663.0,822903.0,131835.0,NaN,4421.0,21609.0,391238.0,18875.0,9946636.0
2,GSDP - CURRENT PRICES (` in Crore),2013-14,464272.0,14602.0,177745.0,317101.0,206690.0,35921.0,807623.0,400662.0,94764.0,95893.0,188567.0,817886.0,465041.0,437737.0,1647506.0,16198.0,22938.0,10293.0,16612.0,291709.0,334714.0,549701.0,13862.0,971090.0,452186.0,25593.0,944146.0,149817.0,NaN,5159.0,24787.0,443783.0,21870.0,11236635.0
3,GSDP - CURRENT PRICES (` in Crore),2014-15,526468.0,16761.0,198098.0,373920.0,234982.0,40633.0,895027.0,437462.0,104369.0,100404.0,217107.0,921788.0,526002.0,481982.0,1792122.0,18043.0,24408.0,11559.0,18414.0,321971.0,368011.0,612194.0,15209.0,1092564.0,511178.0,29667.0,1043371.0,161985.0,NaN,5721.0,27844.0,492424.0,24089.0,12433749.0
4,GSDP - CURRENT PRICES (` in Crore),2015-16,609934.0,18784.0,224234.0,413503.0,260776.0,45002.0,994316.0,485184.0,NaN,118387.0,241955.0,1027068.0,588337.0,543975.0,NaN,NaN,26745.0,NaN,NaN,341887.0,NaN,NaN,16637.0,1212668.0,575631.0,NaN,1153795.0,184091.0,NaN,NaN,30304.0,551963.0,26533.0,13675331.0

In [37]:
df.shape

(11, 36)

In [38]:
#having a look at the columns of the dataset
df.columns

Index(['Items  Description', 'Duration', 'Andhra Pradesh ',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal1', 'Andaman & Nicobar Islands',
       'Chandigarh', 'Delhi', 'Puducherry', 'All_India GDP'],
      dtype='object')

In [39]:
# Making sure that the inferred data has the expected schema
df.dtypes

Items  Description            object
Duration                      object
Andhra Pradesh               float64
Arunachal Pradesh            float64
Assam                        float64
Bihar                        float64
Chhattisgarh                 float64
Goa                          float64
Gujarat                      float64
Haryana                      float64
Himachal Pradesh             float64
Jammu & Kashmir              float64
Jharkhand                    float64
Karnataka                    float64
Kerala                       float64
Madhya Pradesh               float64
Maharashtra                  float64
Manipur                      float64
Meghalaya                    float64
Mizoram                      float64
Nagaland                     float64
Odisha                       float64
Punjab                       float64
Rajasthan                    float64
Sikkim                       float64
Tamil Nadu                   float64
Telangana                    float64
Tripura                      float64
Uttar Pradesh                float64
Uttarakhand                  float64
West Bengal1                 float64
Andaman & Nicobar Islands    float64
Chandigarh                   float64
Delhi                        float64
Puducherry                   float64
All_India GDP                float64
dtype: object

In [40]:
df.isnull().sum().sum()

73

In [41]:
df.isnull().sum()

Items  Description            0
Duration                      0
Andhra Pradesh                0
Arunachal Pradesh             2
Assam                         2
Bihar                         2
Chhattisgarh                  0
Goa                           2
Gujarat                       2
Haryana                       0
Himachal Pradesh              4
Jammu & Kashmir               2
Jharkhand                     2
Karnataka                     2
Kerala                        2
Madhya Pradesh                0
Maharashtra                   4
Manipur                       4
Meghalaya                     0
Mizoram                       4
Nagaland                      4
Odisha                        0
Punjab                        4
Rajasthan                     4
Sikkim                        2
Tamil Nadu                    0
Telangana                     0
Tripura                       4
Uttar Pradesh                 2
Uttarakhand                   2
West Bengal1                 11
Andaman & Nicobar Islands     4
Chandigarh                    2
Delhi                         0
Puducherry                    0
All_India GDP                 0
dtype: int64

Here, we notice that <b>West Bengal</b> has not been up to the mark in providing the government with GDP data, with <b>all</b> of the values in the column missing, we shall not proceed to remove the columns that houses West bengal

In [42]:
# Dropping West Bengal from the dataframe and performing a quick sense check of the data
df = df.drop('West Bengal1' , axis='columns')
df.shape

(11, 35)

The datset now has 11 rows and 36 columns

In [43]:
# Transposing the datset to analyze what sort of data format - tall or wide works best for the data
# Code to understand the pattern of missing values row-wise
df.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      9
5     22
6      0
7      0
8      0
9      9
10    22
dtype: int64

We notice that the data for 2016-17, whose absolute value (in crores) and growth % - rows 6 and 11 respctively have over 61% of missing value as data may not have been collected accurately as the report was being made. So, we shall be removing the rows for the purposes of data cleaning. 

Further, we also notice that the data for the time-period for of 2015-16 has 9 missing values, we have decided to keep the rows for analytical purposes.

In [44]:
# !-- Code de-prioritized for now on account of lack of clarity to handle missing values

# Code to keep rows where at least 50% of the data is present
# df = df.dropna(thresh=18)
# df.isnull().sum(axis=1)

In [45]:
# Post cleaning and handling NA values, we now proceed to display the data 
# Perform a sense check and re-assess the level of the data
df

,Items Description,Duration,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chhattisgarh,Goa,Gujarat,Haryana,Himachal Pradesh,Jammu & Kashmir,Jharkhand,Karnataka,Kerala,Madhya Pradesh,Maharashtra,Manipur,Meghalaya,Mizoram,Nagaland,Odisha,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,Andaman & Nicobar Islands,Chandigarh,Delhi,Puducherry,All_India GDP
0,GSDP - CURRENT PRICES (` in Crore),2011-12,379402.00,11063.00,143175.00,247144.00,158074.00,42367.00,615606.00,297539.00,72720.00,78254.00,150918.00,603778.00,364048.00,315561.00,1272967.00,12915.00,19918.00,7259.0,11839.00,227872.00,266628.00,436465.00,11165.00,751485.00,359433.00,19208.00,724049.00,115523.00,3979.00,18768.00,343767.00,16818.00,8736039.00
1,GSDP - CURRENT PRICES (` in Crore),2012-13,411404.00,12547.00,156864.00,282368.00,177511.00,38120.00,724495.00,347032.00,82820.00,87105.00,174724.00,691700.00,412313.00,380924.00,1448466.00,13748.00,21872.00,8362.0,13619.00,258275.00,297734.00,494004.00,12338.00,855481.00,401493.00,21663.00,822903.00,131835.00,4421.00,21609.00,391238.00,18875.00,9946636.00
2,GSDP - CURRENT PRICES (` in Crore),2013-14,464272.00,14602.00,177745.00,317101.00,206690.00,35921.00,807623.00,400662.00,94764.00,95893.00,188567.00,817886.00,465041.00,437737.00,1647506.00,16198.00,22938.00,10293.0,16612.00,291709.00,334714.00,549701.00,13862.00,971090.00,452186.00,25593.00,944146.00,149817.00,5159.00,24787.00,443783.00,21870.00,11236635.00
3,GSDP - CURRENT PRICES (` in Crore),2014-15,526468.00,16761.00,198098.00,373920.00,234982.00,40633.00,895027.00,437462.00,104369.00,100404.00,217107.00,921788.00,526002.00,481982.00,1792122.00,18043.00,24408.00,11559.0,18414.00,321971.00,368011.00,612194.00,15209.00,1092564.00,511178.00,29667.00,1043371.00,161985.00,5721.00,27844.00,492424.00,24089.00,12433749.00
4,GSDP - CURRENT PRICES (` in Crore),2015-16,609934.00,18784.00,224234.00,413503.00,260776.00,45002.00,994316.00,485184.00,NaN,118387.00,241955.00,1027068.00,588337.00,543975.00,NaN,NaN,26745.00,NaN,NaN,341887.00,NaN,NaN,16637.00,1212668.00,575631.00,NaN,1153795.00,184091.00,NaN,30304.00,551963.00,26533.00,13675331.00
5,GSDP - CURRENT PRICES (` in Crore),2016-17,699307.00,NaN,NaN,NaN,290140.00,NaN,NaN,547396.00,NaN,NaN,NaN,NaN,NaN,640484.00,NaN,NaN,29567.00,NaN,NaN,378991.00,NaN,NaN,NaN,1338766.00,654294.00,NaN,NaN,NaN,NaN,NaN,622385.00,29557.00,15251028.00
6,(% Growth over previous year),2012-13,8.43,13.41,9.56,14.25,12.30,-10.02,17.69,16.63,13.89,11.31,15.77,14.56,13.26,20.71,13.79,6.45,9.81,15.2,15.03,13.34,11.67,13.18,10.51,13.84,11.70,12.78,13.65,14.12,11.13,15.14,13.81,12.23,13.86
7,(% Growth over previous year),2013-14,12.85,16.38,13.31,12.30,16.44,-5.77,11.47,15.45,14.42,10.09,7.92,18.24,12.79,14.91,13.74,17.83,4.87,23.1,21.98,12.95,12.42,11.27,12.35,13.51,12.63,18.14,14.73,13.64,16.68,14.71,13.43,15.87,12.97
8,(% Growth over previous year),2014-15,13.40,14.79,11.45,17.92,13.69,13.12,10.82,9.18,10.14,4.70,15.14,12.70,13.11,10.11,8.78,11.39,6.41,12.3,10.85,10.37,9.95,11.37,9.72,12.51,13.05,15.92,10.51,8.12,10.89,12.33,10.96,10.14,10.65
9,(% Growth over previous year),2015-16,15.85,12.07,13.19,10.59,10.98,10.75,11.09,10.91,NaN,17.91,11.44,11.42,11.85,12.86,NaN,NaN,9.58,NaN,NaN,6.19,NaN,NaN,9.39,10.99,12.61,NaN,10.58,13.65,NaN,8.84,12.09,10.15,9.99
10,(% Growth over previous year),2016-17,14.65,NaN,NaN,NaN,11.26,NaN,NaN,12.82,NaN,NaN,NaN,NaN,NaN,17.74,NaN,NaN,10.55,NaN,NaN,10.85,NaN,NaN,NaN,10.40,13.67,NaN,NaN,NaN,NaN,NaN,12.76,11.40,11.52

Here, we notice that the first 7 and last 5 rows have the same name, so the level of the data is at a 
"Items Description"-"Duration" level". To give it a unique identifier, we shall append the first and second column

In [46]:
# Concatenating the Items Description and Duration string columns to get a unique identifier 
df["Items  Description"] = df["Items  Description"] + df["Duration"]

# Deleting the Duration column
del df["Duration"]

# Giving the new identifying column a unique name - GDPType_Duration
df.rename(columns={'Items Description': 'GDPType_Duration'}, inplace=True)

0     GSDP - CURRENT PRICES (` in Crore)2011-12
1     GSDP - CURRENT PRICES (` in Crore)2012-13
2     GSDP - CURRENT PRICES (` in Crore)2013-14
3     GSDP - CURRENT PRICES (` in Crore)2014-15
4     GSDP - CURRENT PRICES (` in Crore)2015-16
5     GSDP - CURRENT PRICES (` in Crore)2016-17
6          (% Growth over previous year)2012-13
7          (% Growth over previous year)2013-14
8          (% Growth over previous year)2014-15
9          (% Growth over previous year)2015-16
10         (% Growth over previous year)2016-17
dtype: object

In [ ]:
Now, we put forth some focus to understand the level of the data at hand

In [15]:
# Viewing the head of the transposed dataset
dfTranspose = df.transpose()
dfTranspose.head()

,0,1,2,3,4,5,6,7,8,9,10
Items Description,GSDP - CURRENT PRICES (` in Crore),GSDP - CURRENT PRICES (` in Crore),GSDP - CURRENT PRICES (` in Crore),GSDP - CURRENT PRICES (` in Crore),GSDP - CURRENT PRICES (` in Crore),GSDP - CURRENT PRICES (` in Crore),(% Growth over previous year),(% Growth over previous year),(% Growth over previous year),(% Growth over previous year),(% Growth over previous year)
Duration,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2012-13,2013-14,2014-15,2015-16,2016-17
Andhra Pradesh,379402,411404,464272,526468,609934,699307,8.43,12.85,13.4,15.85,14.65
Arunachal Pradesh,11063,12547,14602,16761,18784,NaN,13.41,16.38,14.79,12.07,NaN
Assam,143175,156864,177745,198098,224234,NaN,9.56,13.31,11.45,13.19,NaN

In [ ]:
# Making the top row the header of the transposed dataframe
new_header = dfTranspose.iloc[0] #grab the first row for the header
dfTranspose = dfTranspose[1:] #take the data less the header row
dfTranspose.columns = new_header #set the header row as the df header
dfTranspose

### Part I: GDP Analysis of the State
<i> Note: </i>Plots made should preferably be in ascending/ descending order for easy interpretation

The steps for the analysis of Part 1-A will include the below steps (in no particular order):
- Loading the csvs from a set folder that consists of all the necessary data
- Performing sense checks on data to ensure that there are no corrupt files
- Analysis of missing values
- Treatment of missing values
- Graph (in ascending/ descending order) showing "% Growth over previous year" for <b>All States</b> using line graphs. Use best fit line to represent growth for each state
- Similar graph representing the growth of the nation as well

Post the cleaning of data and analysis of the same, we shall now proceed to answer the following questions:

1. How will you compare the growth rates of any two states?
     - 

2. Which states have been growing consistently fast, and which ones have been struggling? Rank top 3 fastest and 3 slowest-growing states.
    - 

3. What is the Nation's average?
    - 

4. What has been the average growth rate of your home state, and how does it compare to the national average?
    -

Now that we have answered the above questions, we shall now proceed to perform the following analysis:
#### Plot the total GDP of the states for the year 2015-16:
1. Which Plot will you use for this? Why? (Remeber to plot the graph in a way such as it is easier to read and compare)

2. Identify the top 5 and the bottom 5 states based on total GDP.

3. What insights can you draw from this graph? What states are performing poorly? (Remember: this will not be solely based on total GDP)

### Part I-B

<i>Note: The analysis is to be done for the years of 2014-15</i>

The analysis is to be formed for Indian States (exclusing union territories)

Following are the steps to be followed:
- Plot the GDP per capita for all the states.
     - Identify the top 5 and the bottom 5 states based on the GDP per capita.
     - Find the ratio of the highest per capita GDP to the lowest per capita GDP.
     

- Plot the percentage contribution of the primary, secondary and tertiary sectors as a percentage of the total GDP for all the states.
    - Which plot will you use here? Why?
    - Why is (Primary + Secondary + Tertiary) not equal to total GDP?
    - Can you draw any insight from this? Find correlation of percentile of the state (% of states with lower GDP) and %contribution of Primary sector to total GDP.


- Categorise the states into four groups based on the GDP per capita (C1, C2, C3, C4, where C1 would have the highest per capita GDP and C4, the lowest). The quantile values are (0.20,0.5, 0.85, 1), i.e., the states lying between the 85th and the 100th percentile are in C1; those between the 50th and the 85th percentiles are in C2, and so on.

For each category (C1, C2, C3, C4):
Find the top 3/4/5 sub-sectors (such as agriculture, forestry and fishing, crops, manufacturing etc., not primary, secondary and tertiary) that contribute to approximately 80% of the GSDP of each category.

    - Note-I: The nomenclature for this project is as follows: primary, secondary and tertiary are named 'sectors', while agriculture, manufacturing etc. are named 'sub-sectors'.

    - Note-II: If the top 3 sub-sectors contribute to, say, 79% of the GDP of some category, you can report "These top 3 sub-sectors contribute to approximately 80% of the GDP". This is to simplify the analysis and make the results consumable. (Remember, the CEO has to present the report to the CMs, and CMs have limited time; so, the analysis needs to be sharp and concise.)

Plot the contribution of the sub-sectors as a percentage of the GSDP of each category.

Now that you have summarised the data in the form of plots, tables, etc., try to draw non-obvious insights from it. Think about questions such as:

- How does the GDP distribution of the top states (C1) differ from the others?
- Which sub-sectors seem to be correlated with high GDP?
- Which sub-sectors do the various categories need to focus on? 

Ask other such relevant questions, which you think are important, and note your insights for category separately. More insights are welcome and will be awarded accordingly.

Finally, provide at least two recommendations for each category to improve the per capita GDP.

### Part-II: GDP and Education Dropout Rates

In Part-I, you would have noticed that (one) way to increase per capita GDP is by shifting the distribution of GDP towards the secondary and tertiary sectors, i.e., the manufacturing and services industries. But these industries can thrive only when there is an availability of educated and skilled labour.

In this part of the analysis, you will investigate whether there is any relationship between per capita GDP with dropout rates in education.

- Analyse if there is any correlation of GDP per capita with dropout rates in education (primary, upper primary and secondary) for the year 2014-2015 for each state. Choose an appropriate plot to conduct this analysis.
    - Is there any correlation between dropout rate and %contribution of each sector (Primary, Secondary and Tertiary) to the total GDP?


- You have the total population of each state from the data in part I. Is there any correlation between dropout rates and population? What is the expected trend and what is the observation?


- Write down the key insights you draw from this data:
    - Form at least one reasonable hypothesis for the observations from the data